useDynLib(dexter, .registration = TRUE)
import(shinydashboard)
import(shinyBS)
import(DT)
import(RSQLite)

importFrom(dplyr,group_by,summarise,mutate,ungroup,do,mutate_if,
           left_join,right_join,inner_join,filter,select,arrange,
           full_join,anti_join,union,slice,n,tibble,as_tibble,distinct,n_distinct,bind_rows)
importFrom("dbplyr","sql_quote","translate_sql_","partial_eval")
# importFrom("igraph","is.connected","graph_from_incidence_matrix")
importFrom("DBI","dbExecute")
importFrom("rlang","caller_env",".data")
importFrom("fastmatch","fmatch")
importFrom("formula.tools","get.vars")
importFrom("tidyr", "gather", "spread", "gather_", "spread_")
importFrom("colorspace", "hex", "polarLUV")
importFrom("stats", "complete.cases", "cor", "quantile",
            "sd", "weighted.mean", "as.formula", "density",
            "cov", "mahalanobis", "model.matrix", "pchisq",
            "rgamma", "runif", "setNames", 'rnorm',"chisq.test")
importFrom("graphics", "plot", "axis", "image", "layout", "par", "lines", "text","legend")
importFrom("grDevices", "rainbow")
importFrom("methods", "is")
importFrom("purrr", "map","map_df")
importFrom("utils", "str", "head", "person", "setTxtProgressBar", "tail",
             "txtProgressBar")
## importFrom(plotly,'plot_ly','add_lines','subplot','renderPlotly','plotlyOutput')
importFrom(shiny,checkboxInput,plotOutput,actionButton,renderPlot,observeEvent,reactive,shinyApp)
export(start_new_project)
export(open_project)
export(add_booklet)
export(fit_inter)
export(fit_enorm)
export(show_booklets)
export(show_items)
export(get_testscores)
export(tia_tables)
export(keys_to_rules)
export(add_item_properties)
export(show_item_properties)
export(show_person_properties)
export(show_persons)
export(show_design)
export(fit_domains)
export(profile_plot)
export(distractor_plot)
export(design_as_network)
export(design_is_connected)
export(plausible_values)
export(ability)
S3method(plot,rim)
S3method(print,rim)
S3method(print,prms)
S3method(as.data.frame,prms)
export(iModels)
export(iTIA)
export(plot3DC)
export(add_test3DC)
export(create3DC)
export(start_new_project_from_oplm)
export(touch_rules)
export(show_rules)
export(get_responses)
export(predicate_variables)
export(DIF)
S3method(plot,DIF_stats)
S3method(print,DIF_stats)
export(individual_differences)
S3method(plot,tind)
S3method(print,tind)

