useDynLib(dexter)
import(RSQLite)
import(plyr)
importFrom("reshape2", "melt", "dcast")
importFrom("colorspace", "hex", "polarLUV")
importFrom("stats", "complete.cases", "cor", "quantile",
             "sd", "weighted.mean", "as.formula", "density")
importFrom("utils", "str")
export(start_new_project)
export(open_project)
export(add_booklet)
export(add_tests)
export(fit_models)
export(show_booklets)
export(show_items)
export(tia_tables)
export(keys_to_rules)
export(add_item_properties)
export(show_item_properties)
export(show_person_properties)
export(fit_domains)
export(profile_plot)
export(distractor_plot)
S3method(plot,rim)
S3method(print,rim)

